body{
  text-align: center;
  background-color: silver;
  margin-top: 50px;
  font-family: 'Times New Roman', Times, serif;
}
#additem{
  border-radius: 0%;
}
.btn-primary {
  border-radius: 50%;
}

h1 {
  font-size: 80px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
